body{
margin:0;padding:0;
display:flex;flex-direction:column;
background-color: #f9f6c4;
}
.rodaAtas,.rodaBawah{
  position: absolute;
  margin: 0 auto; 
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  border: 10px dashed #844113;
  animation: putar 10s linear infinite;
}
.rodaAtas{
  top: -30vw;
  left: 0;
  right: 0;
}
.rodaBawah{
  bottom: -30vw;
  left: 0;
  right: 0;
}
@keyframes putar{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.kepala{
display:flex; flex-direction:row;
}
.sidebar{
height:100vh;
font-size:18px;
width:fit-content;
padding:5px;
position:fixed;
transform:translateX(-100%);
transition:0.5s;
background-color:#89d4ff;
}
.sidebar.active{
transform:translateX(0%);
}
.hamburger{
position: relative;
z-index: 20;
height:fit-content;
padding:5px;
background-color:transparent;
font-size:38px;
transition:0.5s;
}
.hamburger.ham{
transform:translateX(230%);
}
